@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;

}


.dancing-script {
    font-family: 'Miama', sans-serif;
    font-style: italic;
    line-height: 50px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

/* Shared styles */
.display-flex {
    display: flex;
}

.primary-color {
    color: #E6533C;
}

.btn-primary {
    width: 224px;
    height: 54px;
    background-color: #E6533C;
    border: none;
    border-radius: 70px;
    margin-top: 25px;
    color: white;
    font-size: 18px;
}

body {
    background-color: black;

}

/* navbar styles */
.bg-light {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 7%, rgba(48, 48, 48, 1) 100%);
    height: 700px;
}

.brand {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 700;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1160px;
    padding: 30px 0 30px;
}

#home {
    padding: 10px 10px 10px 20px;
    height: 46px;
    border-radius: 70px;
    background-color: #E6533C;

}

.nav-links {
    width: 465px;
    height: 46px;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1rem;
    border: 1px solid rgb(61, 58, 58);
    border-radius: 70px;
    align-items: center;
    margin-bottom: 0px;
}


.nav-item {
    list-style: none;
    margin-right: 30px;
    color: white;
    padding-left: 10px;
}

/* banner styles */
.banner {
    display: flex;
    max-width: 1160px;
    justify-content: space-between;

    margin: 0 auto;
    flex-direction: row;
}

.banner-content-container {
    height: 440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.banner-tittle {
    font-size: 4.7rem;
    color: white;
    font-weight: 900;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF80;
    margin-top: 20px;
}

.btn {

    display: flex;
    gap: 30px;

}

.btn2 {
    background-color: transparent;
    border: 1px solid #FFFFFF80;
}

.banner-btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0px;
}

.button-section-icon {
    display: flex;
    padding: 10px 15px;
    gap: 20px;
    position: absolute;
    bottom: 80px;
    right: 240px;
    color: white;
    height: 90px;
    width: 190px;
}

.button-content {
    justify-content: start;
    align-items: start;
    text-align: start;

}

.button-section {
    position: absolute;
    display: flex;
    flex-direction: column;

    padding: 15px;
    align-items: start;
    bottom: 360px;
    left: 200px;
    color: white;
    height: 90px;
    width: 190px;
}

h5 {

    color: #FFFFFF80;
}

.button-section-icon,
.button-section {

    border-radius: 14px;
    background: transparent;
    backdrop-filter: blur(10px);
    background-color: #3030308A;
    border: 1px solid #FFFFFF1A;
}

.button-section h2 {
    font-size: 2rem;
    font-weight: 900;
}

.button-section-icon h2 {
    font-size: 1.8rem;
    font-weight: 900;
}

.icon {

    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #EC553D;
    margin-top: 15px;
}

img {
    height: 580px;

}

.menu-bar {
    color: white;
    display: none;
}

/* main section */

.habits {
    max-width: 1160px;
    margin: 0 auto;

}

.habits-description {

    padding: 20px 10px;
}

.habits-description h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 900;
    color: white;

}

.habits p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF80;

}

.habits h3 {
    color: white;
    font-size: 18px;
}

.habits-description-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.habits-description p {
    margin: 10px;
    height: 40px;

}

.card-container-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
    height: 325px;

}

.card-container {
    width: 250px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
    text-align: center;

}

.card-container img {
    max-width: 100%;
    height: 225px;
    margin-top: 20px;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    align-items: center;

    border: 2px solid rgb(56, 55, 55);

}

.card-container p {
    height: 98px;
}

.exercise-section {
    max-width: 1160px;
    margin: 0 auto;



}

.exercise {

    display: flex;
    justify-content: space-between;

    height: 380px;
    padding: 80px 40px 60px 80px;
    margin-top: 40px;
    align-items: center;
    background-color: #222222;
    border-radius: 20px;
}

.exercise-container {
    max-width: 470px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;



}

.exercise-container h1 {
    color: white;

    font-size: 3rem;
    font-weight: 900;

}

.exercise-container p {
    color: #FFFFFF80;
    font-size: 1rem;
    font-weight: 400;
    height: 70px;
    margin-top: 10px;


}

.exercise img {
    max-width: 365px;
    height: 325px;
    object-fit: none;
    object-position: 68% 30%;
    border-radius: 20px;
    margin: 0px 20px 20px 10px;

}




/* training section */
.training-section {
    margin: 50px 0px;


}

.training-container h1 {
    color: white;
    font-size: 3rem;
    padding: 20px 0px;

}

.training-container p {
    color: #FFFFFF80;
    margin-bottom: 20px;

}

.training-image1 {
    /* height: 460px; */
    display: grid;
    grid-template-columns: .50fr 1fr .50fr;
    grid-template-rows: repeat(1, 250px);
    margin-top: 40px;

}

.training-image2 {
    /* height: 460px; */
    display: grid;
    grid-template-columns: .80fr .55fr .65fr;
    grid-template-rows: repeat(1, 250px);
}

.image-item {
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

#img1 {
    background-image: url('../images/exercise1.jpg');
}

#img2 {
    background-image: url('../images/exercise2.png');
}

#img3 {
    background-image: url('../images/exercise3.png');
}

#img4 {
    background-image: url('../images/exercise4.png');
}

#img5 {
    background-image: url('../images/exercise5.jpg');
}

#img6 {
    background-image: url('../images/exercise6.jpg');
}

.overlay1 {
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, 0.5);
}

.overlay2 {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
}

.overlay3 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay4 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay5 {
    width: 100%;
    height: 100%;
    background-color: rgba(66, 255, 0, 0.3);
}

.overlay6 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 71, 255, 0.3);
}

.overlay1 h3 {
    position: relative;
    left: 8%;
    top: 80%;
    width: 50%;

}

.overlay2 h3 {
    position: relative;
    left: 8%;
    top: 15%;
    width: 50%;
    color: white;
}

.overlay3 h3 {
    position: relative;
    left: 8%;
    top: 80%;
    width: 50%;
    color: white;
}

.overlay4 h3 {
    position: relative;
    left: 65%;
    top: 15%;
    width: 50%;
    color: white;

}

.overlay5 h3 {
    position: relative;
    left: 8%;
    top: 80%;
    width: 50%;
    color: white;
}

.overlay6 h3 {
    position: relative;
    left: 8%;
    top: 80%;
    width: 50%;
    color: white;
}

/* bmi section */
.bmi-section-container {
    max-width: 1160px;

    height: 395px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bmi-section {
    background: #222222;
    height: 400px;

}

.bmi-calculator-chart-box {

    display: grid;
    grid-template-columns: repeat(2, 210px);
    margin-top: 40px;


}

.bmi-item {
    display: grid;
    grid-template-rows: repeat(1, 42px);
    border: 1px solid #FFFFFF1A;
    color: #FFFFFF80;
    padding-left: 15px;
    font-size: 14px;
    align-items: center;

}

#bmi-item1 {
    font-weight: 500;
    color: white;
    padding-left: 15px;
    font-size: 16px;

}

.bmi-calculator {
    max-width: 580px;

}

.bmi-calculator p {
    margin: 25px 0px;
    color: #FFFFFF80;

}

.bmi-section h2 {
    font-size: 1.8rem;
    color: white;
}

.calculator {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;

}

#input-selector {
    grid-column: span 2;
}

.calculator input {
    height: 48px;
    background-color: #FFFFFF1A;
    color: #FFFFFF99;
    font-weight: 500;
    border-radius: 10px;
    padding-left: 15px;
}

.calculator select {
    height: 48px;
    background-color: #FFFFFF1A;
    color: #FFFFFF99;
    border-radius: 10px;
    padding-left: 15px;
}

/* meet team section */
.meet-team-section {
    background-color: black;
    height: 850px;
}

.meet-team-section-container {

    max-width: 1160px;
    margin: 0 auto;
}

.meet-section-description {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.meet-section {
    width: 50%;
    text-align: center;
}

.meet-section h2 {
    color: white;
    font-size: 3rem;
}

.meet-section p {
    color: #FFFFFF80;
    font-size: .8rem;
}

.team-image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 275px);
    margin-top: 40px;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #FFFFFF1A;
}

#img-section1 {
    background-image: url('../images/trainer1.png');

}

#img-section2 {
    background-image: url('../images/trainer2.png');
}

#img-section3 {
    background-image: url('../images/trainer3.png');
}

#img-section4 {
    background-image: url('../images/trainer4.png');
}

#img-section5 {
    background-image: url('../images/trainer5.png');
}

#img-section6 {
    background-image: url('../images/trainer6.png');

}

.team-image-item {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
}

.team-overlay {
    width: 70%;
    position: relative;
    top: 215px;
    left: 20px;

}

.team-overlay h3 {
    color: white;
}

.team-overlay h5 {
    color: #FFFFFF80;
}


/* footer section */
.footer {
    background-color: #191919;


}

.footer-section-container {
    max-width: 1160px;
    height: 400px;
    margin: 0 auto;



}

.footer-section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;

}

.footer-description {
    color: white;
    width: 35%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;

}

.footer-description h1 {
    font-size: 4rem;
    font-style: italic;
    color: #E6533C;

}

.footer-description p {
    color: #8C8C8C;
}

.footer-container1 {
    width: 50%;
    height: 250px;
    margin-top: 44px;
}

.footer-container2 {
    width: 50%;
    height: 250px;
    margin-top: 44px;
}

.footer-topic-container {

    display: flex;
    width: 50%;
}

.footer-container1 h2,
h4,
.footer-container2 h2 {
    height: 40px;
    color: white;
    padding-left: 80px;
}

.footer-container2,
.footer-container1,
h4 {
    color: #8C8C8C;
}

hr {
    border: 1px solid #8C8C8C;
}

.footer-end {
    margin-top: 30px;
    color: #8C8C8C;
    text-align: center;
}
/* For responsive */
@media screen and (max-width: 576px) {
    .navbar {

        flex-direction: row;
        justify-content: space-around;
        column-gap: 100px;
    }

    .menu-bar {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .bg-light {
        height: 1030px;
    }

    .banner {
        flex-direction: column;
    }

    .btn {
        display: flex;
        column-gap: 0;
    }

    .banner-container img {
        height: 580px;
        position: relative;
        left: 30px;
        width: 326px;
    }

    .button-section {
        left: 200px;
        width: 155px;
        height: 80px;
        width: 170px;
        padding: 10px;
    }

    .button-section-icon {
        left: -20px;
        height: 80px;
        width: 170px;
        padding-top: 5px;
    }

    .icon {
        height: 25px;
        width: 25px;
        margin-top: 15px;

    }

    .banner-content {
        height: 333px;
        /* border: 2px solid red; */
        width: 355px;
        margin: 0 auto;
    }

    .banner-tittle {
        font-size: 2.2rem;

    }

    .habits {
        margin-top: 50px;
    }

    .habits-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 353px;


    }

    .habits-description p {

        height: 75px;

    }

    .card-container-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        height: 1300px;
    }

    .card-container {
        margin: 0 auto;

        gap: 10px;
    }

    .exercise {

        display: flex;
        flex-direction: column;
        padding: 50px 30px;
        height: 570px;
        row-gap: 25px;
        margin-left: 20px;
        margin-right: 20px;


    }

    .exercise-container {
        max-width: 350px;
        height: 266px;


    }

    .exercise h1 {
        font-size: 2rem;
    }

    .exercise p {
        font-size: .9rem;
        line-height: 20px;

    }

    .exercise button {

        width: 100%;
        margin-top: 30px;

    }

    .exercise img {
        width: 90%;
        height: 200px;
        object-fit: cover;
        margin-left: 20px;

    }

    .exercise-section {
        max-width: 470px;
    }

    .training-container h1 {

        font-size: 2rem;

    }

    .training-container p {
        font-size: 14px;
    }

    .training-image1 {

        grid-template-columns: 1fr 1fr;

    }

    .training-image2 {
        grid-template-columns: .95fr 1.05fr;
    }

    #img3,
    #img6 {
        display: none;
    }

    .bmi-section-container {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        height: 750px;
        justify-content: space-evenly;

    }

    .bmi-section {
        height: 820px;
    }

    .bmi-calculator {
        max-width: 95%;
    }

    .meet-team-section {

        height: 1400px;
    }

    .team-image-section {

        grid-template-columns: repeat(1, 1fr);
        margin: 40px;


    }

    .meet-section {

        width: 70%;
    }

    .meet-section h2 {

        font-size: 2rem;
    }

    .meet-section p {
        font-size: 14px;
    }

    .team-image-item {

        max-width: 100%;
        height: 275px;
    }

    #img-section1,
    #img-section4 {

        display: none;
    }

    .footer-section {
        display: flex;
        flex-direction: column;

    }

    .footer-section-container {
        max-width: 700px;
        height: 1000px;


    }

    .footer-topic-container {


        flex-direction: column;
        width: 100%;
    }

    .footer-description {

        width: 80%;


    }

    .footer-section-container {
        padding: 20px;
    }

    .footer-container1 {
        width: 100%;


    }

    .footer-container2 {
        width: 100%;
    }

    .footer-container1 h2,
    h4,
    .footer-container2 h2 {

        padding-left: 0px;
    }
}



@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar {
        padding: 20px 20px 0 20px;
        justify-content: space-around;
    }

    .banner {
        flex-direction: column;
        max-width: 600px;
        margin-top: 60px;
    }

    .nav-item {
        padding-bottom: 6px;
    }

    .nav-links {
        width: 400px;
        height: 40px;

    }

    #home {
        height: 38px;
        padding-top: 5px;
        padding-right: 15px;
        /* margin-bottom: 10px; */
    }

    .bg-light {
        height: 1250px;
    }

    .banner-content {

        height: 400px;
        /* border: 2px solid red; */
        width: 100%;
        margin: 0 auto;
    }

    .button-section h2 {
        font-size: 1.8rem;
        font-weight: 900;
    }

    .banner-image-container {
        margin-top: 80px;
    }

    .banner-image-container {

        display: flex;
        justify-content: center;
    }

    .habits {
        max-width: 600px;
    }

    .card-container-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 650px;
        padding-left: 25px;
    }

    .exercise-section {
        max-width: 700px;
    }

    .exercise {
        padding: 0px 10px 0px 30px;

    }

    .exercise h1 {
        font-size: 2.1rem;

    }

    .exercise p {
        font-size: .8rem;
        line-height: 16px;

    }

    .exercise-container {
        height: 300px;
        max-width: 264px;
        align-items: flex-start;
        margin-bottom: -10px;

    }

    .exercise img {
        max-width: 260px;
        height: 300px;
        object-fit: none;
        object-position: 68% 30%;
        border-radius: 20px;
        margin-bottom: -20px;
        margin-top: -20px;
    }


    .training-container h1 {

        font-size: 2.8rem;
    }

    .training-container p {
        font-size: .9rem;

    }

    .training-image1 {

        grid-template-columns: .63fr .75fr .62fr;

    }

    .training-image2 {

        grid-template-columns: .78fr .57fr .65fr;

    }

    .bmi-section-container {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        height: 750px;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .bmi-section {
        height: 800px;
    }

    .bmi-calculator {
        max-width: 100%;
    }

    /* meet team section */
    .meet-section {

        width: 70%;
    }

    .meet-team-section-container {
        max-width: 700px;
    }

    .team-overlay {

        width: 100%;
    }

    .footer-section {
        display: flex;
        flex-direction: column;

    }

    .footer-section-container {
        max-width: 700px;
        height: 700px;


    }

    .footer-topic-container {


        width: 100%;
    }

    .footer-description {

        width: 60%;


    }
}

/* <i class="fa-solid fa-chevron-down"> */